*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(to left,#FFE000,#799F0C);
}

#grid{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgba(255,255,255,.35);
    max-width: 500px;
    width: 85%;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}



img{
    margin: 10px;
    width: 70px;
}